.moonImg{
  position: absolute;
  width: 200px;
  height: 200px;
  right: -5%;
  top: -10%;
  filter: drop-shadow(-3px 3px 7px white) brightness(1.22);
  animation: rotacao 24s linear infinite;
}

@keyframes rotacao{
  0%{
    transform:  rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}